{% extends 'base.html' %}

{% block title %}
    HOME PAGE
{% endblock title %}

{% block content %}
<h1 class="font-bold">Calorie Counter</h1>
<div>
    <p>ADD FOOD</p>
    <form method="post" class="flex flex-col border-3 p-1" action="{% url 'add_food' %}">
        {% csrf_token %}
        <label for="Food Name">Food Name: </label>
        <input type="text" name="name" id="food" placeholder="Food Name" required>
        <label for="Food Name">Calories: </label>
        <input type="number" name="calories" id="calories" placeholder="calories" required>
        <button class="bg-blue-300 hover:bg-blue-700 text-white" type="submit">Add Food</button>
    </form>
</div>
<div>
    <p>Food list</p>
    
    {% for food in food_items %}
        <li>{{food.name}} - {{food.calories}} Calories</li>
            <form action="{% url 'remove_food' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="food_id" value="{{food.id}}">
                <button class="bg-red-200 hover:bg-red-500 text-white" type="submit">Delete</button>
            </form>
        {% empty %}
        <li>No Food Items Found</li>
    {% endfor %}
        
</div>

{% endblock content %}